/*Color Management*/
:root {
    --wpi-red: #AC2B37;
    --wpi-grey: #A9B0B7;
}

.wpi-red{
    color: var(--wpi-red);
}

.bg-wpi-red{
    background-color: var(--wpi-red);
}

.wpi-grey{
    color: var(--wpi-grey);
}

.bg-wpi-grey{
    background-color: var(--wpi-grey);
}

/* used to make all contents in a container display in horizontal lines instead of vertically */
.display-tab-inline{
    display:inline-flex;
}

.display-sort-inline{
    display:inline-flex;
    justify-content: center;
    vertical-align: middle;
}

.active i, .active p {
    color: white;
}

#adminSidebar {
    width: calc(5rem);
    min-width: calc(5rem);
    z-index: 5;
    overflow-x: hidden;
    transition: min-width 0.5s ease-in-out;
}

#adminSidebar:hover {
    min-width: calc(16rem);
    transition: min-width 0.5s ease-in-out 1.5s;
}

#adminSidebar li {
    width: calc(3.25rem);
    overflow: hidden;
    transition: width 0.5s ease-in-out, transform 0.1s ease-in-out;
}

#adminSidebar:hover li {
    width: calc(14rem);
    transition: width 0.5s ease-in-out 1.5s, transform 0.1s ease-in-out;
}

/* table tabs in admin app */
.admin-tab{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50px;
    font-size: 15px;
    padding: 18px;
    z-index: 0;
    border-style: none;
    white-space: nowrap;
    background-color: var(--wpi-grey);
    width: 10rem;
}

.admin-tab-main{
    z-index:1;
    color:white !important;
    background-color: var(--wpi-red);
}

/* used to add spacing between all children such that the otp child is at th etop and the last is at the bottom of the flexbox */
.split-contents{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-hr{
    height: 5px;
    margin:0px;
    padding:0px;
    border:0px;
    background-color: var(--wpi-red);
    opacity: 1;
}

.admin-title{
    border-style:none;
    text-align: center;
    font-size: 50px;
    color:black;
    margin: 40px 10px 40px 10px;
}

.admin-table{
    width: 100%;
    line-height: 50px;
    border-collapse:collapse;
}

.admin-table th, .admin-table td {
    padding-right: 50px;
    padding-left: 20px;
}

.admin-table-data:hover {
    background-color: #ECECEC;
}

.sort-span{
    margin: 5px 3px 5px 7px;
}


.unlink{
    color: black;
    text-decoration: none;
}

.unlink * {
    color:black;
}

#scanBox {
    transform: translate(-50%, 100%);
    transition: transform 0.3s ease-in-out;
    width: max-content;
}

#scanner {
    width: 100%; /* Ensures it spans full width before centering */
    height: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#scannerFrame {
            /* Sets width to 80% of viewport width, up to a maximum of 400px for larger screens */
            width: min(80vw, 400px);
            /* Sets height equal to width for a perfect square aspect ratio */
            height: min(80vw, 400px);
            display: block; /* Ensures margin auto works for centering */
            position: relative; /* Needed for positioning the QR icon inside */
            /* The 'rounded m-2 mt-4 overflow-hidden' Bootstrap classes are still active.
               If you need to override Bootstrap margins, specify them here (e.g., margin-top: 1rem;). */
        }


#scanner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hoverable{
    transition: transform 0.1s ease-in-out;
}

.current {
    background-color: #68181e !important;
}

.hoverable:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ECECEC !important;
}

.hoverable:hover i, .hoverable:hover p{
    color: black !important;
}

@media only screen and (max-width: 800px) {
    #bikeList {
        width: 95%;
        height: 25%;
    } #bikes {
        height: 100%;
        overflow-y: scroll;
    } #mobileNavButton {
        display: unset !important;
    } #adminSidebar {
        display: none;
    } #adminNavBar img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #adminStats {
        display: none;
    }
}

.submit_button{
    min-width: fit-content;
}